<footer class="form-footer">
  <button type="button" data-action="cancelEdit">
    <i class="fa-solid fa-xmark"></i> Cancel
  </button>
  <button type="submit" data-action="submit">
    <i class="fa-solid fa-floppy-disk"></i> {{footerLabel}}
  </button>
</footer>
